<!-- filepath: /Users/bifook/Desktop/Django/app_general/templates/app_general/home.html -->
{% extends "app_general/components/base.html" %}

{% block content %}
    <h1>Flook Learning Store 🛒</h1>
<p>
    ยินดีต้อนรับสู่ Flook Learning Store — ร้านหนังสือสำหรับทุกคนที่รักการอ่านและการเรียนรู้! 📚<br>
    Welcome to Flook Learning Store, your one-stop shop for inspiring reads and educational treasures!<br>
    Whether you're hunting for the latest bestsellers, academic resources, or hidden gems, we’ve got something for every curious mind.<br>
    เพลิดเพลินกับบรรยากาศการอ่านที่อบอุ่น พร้อมหนังสือหลากหลายประเภทที่คัดสรรมาอย่างดี เพื่อเติมเต็มความรู้และจินตนาการของคุณ 🤓📖
</p>

{% endblock %}