{% extends "app_general/components/base.html" %}

{% block content %}
    {% if book %}
        <div class="books-list">
            <h2>{{ book.title }}</h2>
            <div class="book-item">
                <img src="{{ book.img }}" alt="Book: {{ book.title }}">
                <div class="book-info">
                    <p class="book-title">{{ book.title }}</p>
                    <p class="book-author">by {{ book.author }}</p>
                    <p class="book-price">฿{{ book.price }}</p>
                    <p class="book-id">Book ID: {{ book.id }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <p>Book not found.</p>
    {% endif %}
{% endblock %}